.projectSwipper .swiper-slide.swiper-slide-active{
    width: 23%;
}
.projectSwipper .swiper-slide.swiper-slide-prev,.projectSwipper .swiper-slide.swiper-slide-next{
    width: 20.5%;
}
.projectSwipper .swiper-slide{
    width: 18%;
    padding: 0 0.7rem;
    height: auto!important;
    flex-shrink: 0;
    transition: 0.3s;
}
.projectSwipper .swiper-wrapper{
    align-items: center;
    margin-left: -4.8%;
   
}
.projectSwipper{
    height: 34.375rem;
}
.projectSwipper .swiper-slide.swiper-slide-active img{
	border: 0.063rem solid blue;
}

.projectSwipper .swiper-slide img{
    border: 0.063rem solid #ddd;
}
.projectSwipper .swiper-slide img{
    border-radius: 0.313rem;
}
.projectSwipper .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: #2948D4;
	border-radius: 0.156rem;
	width: 2.188rem;
	height: 0.313rem;
}
/* .projectSwipper .swiper-pagination-bullet.swiper-pagination-bullet-active-prev {
	background-color: #2948D4;
    opacity: 1;
}
.projectSwipper .swiper-pagination-bullet.swiper-pagination-bullet-active-next {
	background-color: #2948D4;
    opacity: 1;
} */
.projectSwipper .swiper-pagination-bullet{
    width: 0.938rem;
    height: 0.313rem;
    border-radius: 0.156rem;
    transition: 0.3s;
}

.projectSwipper .swiper-button-next::after, .swiper-button-prev::after {
	font-size: 15px!important;
}
.projectSwipper .swiper-button-next, .swiper-button-prev {
	position: absolute;
	top: 50%;
	width: 2.5rem!important;
	height: 2.5rem!important;
	margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
	z-index: 10;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff!important;
	background: blue;
	border-radius: 50%;
	/* align-items: center; */
}

.projectSwipper .swiper-button-next, .swiper-button-next {
	position: absolute;
	top: 50%;
	width: 2.5rem!important;
	height: 2.5rem!important;
	margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
	z-index: 10;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff!important;
	background: blue;
	border-radius: 50%;
	/* align-items: center; */
}