.projectSwipper .swiper-slide.swiper-slide-active{
    width: 23%;
}
.projectSwipper .swiper-slide.swiper-slide-prev,.projectSwipper .swiper-slide.swiper-slide-next{
    width: 20.5%;
}
.projectSwipper .swiper-slide{
    width: 18%;
    padding: 0 0.7rem;
    height: auto!important;
    flex-shrink: 0;
    transition: 0.3s;
}
.projectSwipper .swiper-wrapper{
    align-items: center;
    margin-left: -4.8%;
   
}
.projectSwipper{
    height: 550px;
}
.projectSwipper .swiper-slide.swiper-slide-active img{
	border: 1px solid blue;
}

.projectSwipper .swiper-slide img{
    border: 1px solid #ddd;
}
.projectSwipper .swiper-slide img{
    border-radius: 5px;
}
.projectSwipper .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: #2948D4;
	border-radius: 2.5px;
	width: 35px;
	height: 5px;
}
.projectSwipper .swiper-pagination-bullet{
    width: 15px;
    height: 5px;
    border-radius: 2.5px;
    transition: 0.3s;
}

.swiper-button-next::after, .swiper-button-prev::after {
	font-size: 15px!important;
}
.swiper-button-next, .swiper-button-prev {
	position: absolute;
	top: 50%;
	width: 40px!important;
	height: 40px!important;
	margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
	z-index: 10;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff!important;
	background: blue;
	border-radius: 50%;
	/* align-items: center; */
}