.contact_wrapper {
    background-image: url('../../img/conatct/contactBg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.form_wrapper {
    background-image: url("../../img/conatct/formBg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0.938rem;
    margin: 6.25rem 0;
}

.form_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
	width: 100%;
	padding: 3.25rem 4.375rem;
}

.input_group {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 1.5rem;
}

.input_group label {
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.438rem;
	color: #FFFFFF;
}

.input_group input {
	height: 3rem;
	padding: 0.5rem 1.25rem;
	border-radius: 0.3rem;
	border: none;
	margin-top: 0.5rem;
}

.input_group input:focus {
    outline: none;
}

.input_group textarea {
    padding: 0.438rem 1.25rem;
    border-radius: 0.625rem;
    border: none;
    resize: none;
    margin-top: 0.4rem;
}

.input_group input:focus {
    outline: none;
}

.input_group input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.688rem;
    color: #AFAFAF;
    opacity: 1;
}

.input_group textarea::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.688rem;
    color: #AFAFAF;
    opacity: 1;
}

.btn_wrapper {
    margin-top: 1.375rem;
}

.btn_wrapper > button {
	padding: 0.938rem 2.125rem;
	color: #2948D4;
	background: none;
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 1.688rem;
	border: 1.5px solid #2948D4;
	border-radius: 1.875rem;
	transition: 0.3s;
}

.btn_wrapper>button:hover {
    color: #fff;
    background: #2948D4;
}
.contact_info_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 100%;
	padding: 3.25rem 6.25rem;
}
.contact_info_wrapper .section_sub_title{
    padding-top: 0;
}
.call_us {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.313rem;
    color: #4B4B4B;
    margin: 0.938rem 0;
}

.phone_number {
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.438rem;
    color: #323232;
    margin: 0;
}
.social_wrapper{
    display: flex;
    align-items: center;
    gap: 1.25rem;
    margin-top: 2.5rem;
}