.contact_us_wrapper {
    margin-top: 6.25rem;
    background: linear-gradient(180deg, #C3FCFE 41.93%, rgba(87, 73, 151, 0) 134.18%);
}
.contact_content_wrapper{
    padding: 6.25rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact_us_title {
	font-weight: 700;
	font-size: 2rem;
	line-height: 3.688rem;
	color: #323232;
	margin: 0;
	margin-top: 0.625rem;
}

.contact_us_btn {
	padding: 0.938rem 2.25rem;
	background: none;
	border: 0.094rem solid #2948D4;
	border-radius: 1.875rem;
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 1.688rem;
	color: #2948D4;
	transition: 0.3s;
	margin-top: 1.875rem;
}
.contact_us_btn:hover {
    background: #2948D4;
    color: #fff;
}