.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 555;
}
.add_bg{
    background-color: #fff;
    box-shadow: 0 0 0.375rem 0.188rem #ddd;
}
.nav_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 0;
    position: relative;
}
.trigger{
    display: none;
}
.trigger span {
    width: 29px;
    height: 3px;
    background: #000;
    display: block;
}
.trigger span:nth-child(2){
    margin: 5px 0;
}
.logo a>img{
    width:8.75rem;
}
.menu ul {
    display: flex;
    margin: 0;
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.125rem;
    text-transform: capitalize;
    margin-right: 1.875rem;
    color: #646464;
    transition: 0.3s;
}

.menu ul li a:hover {
    color: #2948D4;
}

.contact_btn button {
    padding: 0.75rem 2.125rem;
    color: #2948D4;
    font-size: 1.125rem;
    background-color: #F5F5F5;
    border: 1.5px solid #2948D4;
    border-radius: 1.875rem;
    transition: 0.3s;
}

.contact_btn button:hover {
    color: #F5F5F5;
    font-size: 1.125rem;
    background-color: #2948D4;
}
.mobile.contact_btn{
    display: none;
}